.videoListItem {
  padding: 8px 0;
  border-top: 1px solid gray(96%);
}

.videoListItem:first-child {
  padding-top: 0;
  border-top: none;
}

.videoListMedia {
  margin-bottom: 0;
  cursor: pointer;
}

.mediaObject {
  margin-right: 20px;
  width: 120px;
  height: 90px;
}

.videoDetail {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 140px);
}

.videoDetail h3 {
  font-size: 18px;
  margin: 0px 0 9px 0;
  cursor: pointer;
}

.videoDetail p {
  font-size: 13px;
  margin: 0;
}

.videoDetail h3:hover,
.videoDetail h3:active {
  color: #E9573F;
}
